{% extends "base_inner.html" %}
{% block inner_content %}

<div>
  <h1 class="text-3xl font-bold mb-3">Checkout</h1>
  <p class="text-gray-600 mb-4">Please review your order and fill in your details below.</p>
</div>

<!-- Order Summary and Checkout Form -->
<div class="grid md:grid-cols-2 gap-16 bg-gray-50 p-8 rounded-lg border border-gray-200 justify-center">

  <!-- Order Summary -->
  {% comment %} <div id="order-summary-wrapper" class="md:order-1"> {% endcomment %}
    {% include 'orders/checkout/_order_summary.html' %}
  {% comment %} </div>  {% endcomment %}
  

  <!-- Order Details -->
    {% include 'orders/checkout/_order_details.html' %}

</div>

<!-- TODO: ReCaptcha -->
{% endblock inner_content %}
