{% extends "base_inner.html" %}
{% load wagtailimages_tags %}

{% block inner_content %}

<!-- Order confirmation details -->
<div class="space-y-10 max-w-xl">
    
    <div class="space-y-2">
        <p class="text-gray-600 text-sm font-semibold">Order successful</p>
        <h1 class="text-4xl font-bold">Thanks for ordering</h1>
        <p class="text-gray-500 mb-4">We appreciate your order, we’re currently processing it. So hang tight and we’ll send you confirmation very soon!</p>
    </div>

    <!-- Delivery / Pickup Address -->
    <div class="space-y-1">        
        <h2 class="font-semibold">Receive By</h2>
        {% if order.address %}
            <p>Delivery</p>
        {% else %}
            <p>Collection</p>
        {% endif %}
     </div>
     
        
    {% for item in order.items.all %}
    <div class="space-y-8">
        <hr class="text-gray-200">

        <!-- Item - image, name, price, quantity -->
        <div class="flex gap-6">
            {% image item.product.first_image fill-300x300 as product_img %}
            <div class="max-w-32 max-h-32 overflow-hidden rounded-sm">
                <img src="{{ product_img.url }}" alt="">
            </div>
            <div class="flex justify-between text-sm w-full text-gray-700">
                <div class="space-y-3">
                    <p>{{ item.product.title }}</p>
                    <p>Qty: {{ item.quantity }}</p>
                </div>
                <p>£{{ item.get_total }}</p>
            </div>
        </div>

    </div>
    {% endfor %}

    <!-- Order charges-->
    <div class="space-y-8 max-w-xl">

        <hr class="text-gray-200">

        <div class="space-y-6">
            <div class="flex justify-between text-sm text-gray-700">
                <p>Subtotal</p>
                <p>£{{ order.subtotal }}</p>
            </div>
            {% if order.address %}
            <div class="flex justify-between text-sm text-gray-700">
                <p>Delivery</p>
                <p>£{{ order.delivery_charge }}</p>
            </div>
            {% endif %}
        </div>

        <hr class="text-gray-200">

        <div class="flex justify-between text-sm text-gray-900">
            <p>Total</p>
            <p>£{{ order.total }}</p>
        </div>

    </div>

</div>

{% endblock inner_content %}
