{% load wagtailimages_tags %}


<!-- back to orders -->
 <a href="{% url 'view_orders' %}">
     <div class="flex gap-1 items-center mb-12 max-w-6xl nice-padding">
         <div>
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
         </div>
         <div>Back to Orders</div>
     </div>
 </a>

<div id="admin-order-detail" class="admin-order-detail-page nice-padding max-w-6xl">
    

    <!-- Section 1 - Date, Desposit Paid, Status -->
    <div class="section-1-wrapper flex justify-between items-center">
        <!-- date -->
        <div class="_outline outline-green-500">
            <div class="font-semibold">Order Placed</div>
            <div>{{ order.created_at|date:"j M Y H:i" }}</div>
        </div>

        <!-- deposit paid, status -->
        <div class="flex gap-3 items-center">
            <div class="border-base border-gray-300 bg-gray-50 text-gray-600 text-xs rounded-lg px-1.5 py-0.5 tracking-wide flex items-center gap-2 font-semibold">
                <div class="p-1 bg-red-500 rounded-full"></div>
                {% if order.deposit_paid %}Deposit Paid{% else %}Awaiting Deposit{% endif %}
            </div>
            <div class="border-base border-gray-300 bg-gray-50 text-gray-600 text-xs rounded-lg px-1.5 py-0.5 tracking-wide flex items-center gap-2 font-semibold">
                <div class="p-1 bg-orange-500 rounded-full"></div>
                {{ order.get_status_display }}
            </div>
            <div class="text-gray-500 ml-1 hover:cursor-pointer">
                {% include 'orders/admin/partials/order_status_modal.html' %}
            </div>                  
            
       
        </div>

    </div>

    <hr class="text-gray-200">

    <!-- Section 3 - Summary -->
    <div class="section-2-wrapper">

        <h1>Summary</h1>
        
        <!-- Order Items -->
        <div class="space-y-8">
            {% for item in order.items.all %}
            <div>
                <!-- Item - image, name, price, quantity -->
                <div class="flex gap-6">
                    {% image item.product.first_image fill-300x300 as product_img %}
                    <div class="max-w-32 max-h-32 overflow-hidden rounded-sm">
                        <img src="{{ product_img.url }}" alt="">
                    </div>
                    <div class="flex justify-between _text-sm w-full text-gray-700">
                        <div class="space-y-3">
                            <p>{{ item.product.title }}</p>
                            <p>Qty: {{ item.quantity }}</p>
                        </div>
                        <p class="text-black">£{{ item.get_total }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}            
        </div>

        <!-- Order charges-->
        <div class="space-y-8">

            <hr class="text-gray-200">

            <div class="space-y-3">
                <div class="flex justify-between text-sm text-gray-700">
                    <p class="font-bold text-sm">Subtotal</p>
                    <p class="text-black">£{{ order.subtotal }}</p>
                </div>

                {% if order.address %}
                <div class="flex justify-between text-sm text-gray-700">
                    <p class="font-bold text-sm">Delivery</p>
                    <p class="text-black">£{{ order.delivery_charge }}</p>
                </div>
                {% endif %}

                <div class="flex justify-between text-sm text-gray-900">
                    <p class="font-bold text-sm">Total</p>
                    <p class="text-black">£{{ order.total }}</p>
                </div>
                {% comment %} <hr class="text-gray-200"> {% endcomment %}
            </div>

        </div>            

    </div>

    <hr class="text-gray-200">

    <!-- Section 2 - Customer, Contact and Delivery Details -->
    <div class="section-3-wrapper">
        <h1>Customer</h1>

        <div class="grid grid-cols-2 sm:grid-cols-3 gap-8">

            <div class="space-y-1">
                <div class="font-semibold">Name</div>
                <div>{{ order.full_name }}</div>
            </div>

            {% if order.address %}
            <div class="space-y-1">
                <div class="font-semibold">Address</div>
                <div class="space-y-0">
                    {{ order.address.single_line }}
                </div>
            </div>
            {% endif %}

            {% if order.phone %}
            <div class="space-y-1">
                <div class="font-semibold">Phone</div>
                <div>{{ order.phone }}</div>
            </div>
            {% endif %}            

            {% if order.email %}
            <div class="space-y-1">
                <div class="font-semibold">Email</div>
                <div>{{ order.email }}</div>
            </div>
            {% endif %}            

            {% comment %} <div class="space-y-1">
                <div class="font-semibold">Contact</div>
                <div class="space-y-1">
                    {% if order.phone %}
                    <div>{{ order.phone }}</div>
                    {% endif %}

                    {% if order.email %}
                    <div>{{ order.email }}</div>
                    {% endif %}
                </div>
            </div> {% endcomment %}




            <div class="space-y-1">
                <div class="font-semibold">Delivery Method</div>
                <div>{{ order.delivery_detail.get_delivery_method_display }}</div>
            </div>

            <div class="space-y-1">
                <div class="font-semibold">Requested Date</div>
                <div>{{ order.delivery_detail.requested_delivery_date }}</div>
            </div>

            {% if order.delivery_detail.additional_requirements %}
            <div class="space-y-1">
                <div class="font-semibold">Additional Requirements</div>
                <div>{{ order.delivery_detail.additional_requirements }}</div>
            </div>
            {% endif %}


        </div>

    </div>    





</div>