{% extends 'components/modal.html' %}


{% block trigger_btn %}
{% include 'icons/ellipsis.html' %}
{% endblock trigger_btn %}


{% block modal_content %}
<div class="order-status-modal-container">
    
    <!-- title and close button-->
    <div class="flex items-center justify-between pb-3 header">
    
        <div class="text-3xl font-semibold">Update Order</div>
        
        <button @click="modalOpen=false" class="modal-close-btn">
            {% include 'icons/close.html' with icon_class="modal-close-btn-icon" %}
        </button>
    </div>
    
    <!-- form inputs -->
    <form class="flex flex-col gap-6 justify-center">

        <div class="space-y-2">
            <h2>
                <label for="deposit-paid-id">Deposit Paid</label>
            </h2>
            <input id="deposit-paid-id" type="checkbox">
        </div>

        <div class="space-y-2">
            <h2>Status</h2>
            <select name="" id="">
                <option value="" selected>Pending</option>
                <option value="" selected>Confirmed</option>
                <option value="" selected>Peparing</option>
                <option value="" selected>Ready for Collection</option>
                <option value="" selected>Delivered</option>
            </select>
        </div>
    
        
        <div class="flex gap-4 justify-end">
            <button @click="modalOpen=false" type="button" class="cancel-btn">Cancel</button>
            <button @click="modalOpen=false" type="button" class="update-btn">Update</button>
        </div>
        
    
    </form>
</div>
{% endblock modal_content %}