{% extends "components/_slide_over.html" %}

{% block slide_over_trigger_btn %}
<div id="cart-count" class="relative w-8 h-8 flex items-center">
    
    <!-- Cart Icon -->
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" fill="#000000"><path fill="#000000" d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"></path></svg>
    
    <!-- Number of Cart Items -->
    <span class="absolute top-0 right-0 inline-flex items-center justify-center w-4 h-4 text-xs font-bold text-white bg-red-600 rounded-full">
        {{ cart_total }}
    </span>
</div>
{% endblock slide_over_trigger_btn %}


{% block title %}
<h2 class="text-base font-semibold leading-6 text-gray-900" id="slide-over-title">Shopping cart</h2>
{% endblock title %}


{% block content %}
<div class="pointer-events-auto w-screen max-w-md h-full">
    <div class="flex h-full flex-col justify-between overflow-y-auto">
        
        <!-- Cart Items Listing -->
        <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">

            <div class="mt-8">
                <div class="flow-root">
                    <ul role="list" class="-my-6 divide-y divide-gray-200">
                    
                    <!-- Product 1 -->
                    <li class="flex py-6">
                        <div class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200">
                        <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/shopping-cart-page-04-product-01.jpg" alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt." class="size-full object-cover" />
                        </div>

                        <div class="ml-4 flex flex-1 flex-col">
                        <div>
                            <div class="flex justify-between text-base font-medium text-gray-900">
                            <h3>
                                <a href="#">Throwback Hip Bag</a>
                            </h3>
                            <p class="ml-4">$90.00</p>
                            </div>
                            <p class="mt-1 text-sm text-gray-500">Salmon</p>
                        </div>
                        <div class="flex flex-1 items-end justify-between text-sm">
                            <p class="text-gray-500">Qty 1</p>

                            <div class="flex">
                            <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">Remove</button>
                            </div>
                        </div>
                        </div>
                    </li>

                    <!-- Product 2 -->
                    <li class="flex py-6">
                        <div class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200">
                        <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/shopping-cart-page-04-product-02.jpg" alt="Front of satchel with blue canvas body, black straps and handle, drawstring top, and front zipper pouch." class="size-full object-cover" />
                        </div>

                        <div class="ml-4 flex flex-1 flex-col">
                        <div>
                            <div class="flex justify-between text-base font-medium text-gray-900">
                            <h3>
                                <a href="#">Medium Stuff Satchel</a>
                            </h3>
                            <p class="ml-4">$32.00</p>
                            </div>
                            <p class="mt-1 text-sm text-gray-500">Blue</p>
                        </div>
                        <div class="flex flex-1 items-end justify-between text-sm">
                            <p class="text-gray-500">Qty 1</p>

                            <div class="flex">
                            <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">Remove</button>
                            </div>
                        </div>
                        </div>
                    </li>

                    <!-- More products... -->
                    </ul>
                </div>
            </div>
        </div>

        <!-- Subtotal and Checkout Button Section -->
        <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
            <div class="flex justify-between text-base font-medium text-gray-900">
            <p>Subtotal</p>
            <p>$262.00</p>
            </div>
            <p class="mt-0.5 text-sm text-gray-500">Shipping and taxes calculated at checkout.</p>
            <div class="mt-6">
            <a href="#" class="flex items-center justify-center rounded-md border border-transparent bg-gray-900 hover:bg-gray-700 transition duration-300 px-6 py-3 text-base font-medium text-white shadow-xs">Checkout</a>
            </div>
            <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
            <p>
                or
                <button type="button" class="font-medium text-gray-600 hover:text-gray-500">
                Continue Shopping
                <span aria-hidden="true"> &rarr;</span>
                </button>
            </p>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
