{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}


{% block content %}
<div class="flex justify-center mx-4 my-8">
    <div class="max-w-7xl">

        <!-- Breadcrumbs -->
        <div class="flex items-center gap-2 mb-5 text-sm text-gray-500">
            <a href="#" class="hover:text-gray-900 transition duration-300">
                <p>Home</p>
            </a>
            <span class="text-gray-500">
                {% include 'icons/breadcrumb.html' %}
            </span>
            <a href="#" class="hover:text-gray-900 transition duration-300">
                <p>Products</p>
            </a>
            <span class="text-gray-500">
                {% include 'icons/breadcrumb.html' %}
            </span>
            <p class="text-gray-900">{{ page.title }}</p>
        </div>

        <div class="mb-20">
            
            <!-- images block and  overview block container-->
             <div class="max-w-4xl grid grid-cols-1 md:grid-cols-2 gap-1">

                    <h3 class="block sm:hidden uppercase tracking-wider text-sm">Category Name</h3>
                    <h2 class="block sm:hidden  text-2xl font-semibold">{{ page.title }}</h2>
                    <p class="block sm:hidden text-2xl md:text-3xl font-bold">£{{ page.price }}</p>
                                
                    {% with first_image=page.product_images.all|first %}
                        {% if first_image %}
                            {% image first_image.image fill-300x300 as main_image %}
                            
                            <!-- images block -->
                            <div x-data="{ selectedImage: '{{ main_image.url }}' }" class="mt-4 sm:mt-0">
                            
                            <!-- main image -->
                            <img 
                                class="w-full h-auto overflow-hidden rounded-md"
                                :src="selectedImage"
                                alt=""
                            >

                            <!-- all images -->
                            <div class="grid grid-cols-3 gap-2 mt-4">
                                {% for image_obj in page.product_images.all %}
                                {% image image_obj.image fill-300x300 as thumb_image %}
                                <img 
                                    class="rounded-md hover:cursor-pointer hover:opacity-75"
                                    src="{{ thumb_image.url }}"
                                    @click="selectedImage = '{{ thumb_image.url }}'"
                                    alt=""
                                >
                                {% endfor %}
                            </div>

                            </div>
                        {% endif %}
                    {% endwith %}


                <!-- overview block -->
                 <div class="px-6 flex flex-col mt-6 md:mt-0">
                    {% if page.category %}
                    <h3 class="hidden sm:block uppercase tracking-wider text-sm">{{ page.category.name }}</h3>
                    {% endif %}
                    <h2 class="hidden sm:block  text-2xl font-semibold mt-2">{{ page.title }}</h2>
                    <p class="hidden sm:block  text-3xl font-bold mt-4">£{{ page.price }}</p>

                    {% with options=page.dietary_options.all %}
                        {% if options %}
                            <div class="flex flex-wrap gap-2 mt-4">
                                {% for option in options %}
                                    <p 
                                        style="background-color: {{ option.colour }}" 
                                        class="text-white px-3 py-2 rounded-3xl text-xs font-semibold tracking-wide"
                                    >
                                        {{ option.name }}
                                    </p>
                                {% endfor %}
                            </div>    
                        {% endif %}
                    {% endwith %}
                    
                    <div class="text-gray-600 mt-3 flex flex-col gap-2">
                        {{ page.description | richtext }}
                    </div>
                    

                    <div class="flex justify-between items-center gap-4 mt-6 px-4">

                        <div class="flex justify-center items-center text-lg">
                            <a href="#">-</a>
                            <input type="number" class="max-w-12 text-center appearance-none [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none" value="1">
                            <a href="#">+</a>
                        </div>
                        
                        <button class="bg-black hover:cursor-pointer hover:opacity-75 text-white px-16 py-3 rounded-md text-sm font-semibold tracking-wide text-nowrap">
                            Add to Cart
                        </button>
                    </div>
                    
                 </div>

                
             </div>

            
        </div>

    </div>

</div>
{% endblock content %}
