{% load wagtailcore_tags wagtailimages_tags %}

{% for section in about_sections %}
    <div id='about' class='my-24 grid lg:grid-cols-2 gap-24 lg:gap-0'>

        <div class='col-span-1 m-auto px-12 sm:px-0 max-w-md sm:max-w-2xl {% if forloop.counter0|divisibleby:2 %}lg:order-last{% endif %}'>

            <div class='grid gap-10 max-w-md'>

                <div class='grid gap-4'>
                    {% if section.title %}
                        <h1 class='text-3xl'>{{ section.title }}</h1>
                    {% endif %}
                    {% if section.description %}
                        <p>{{ section.description }}</p>
                    {% endif %}
                </div>

                {% if section.features %}
                    {% for feature in section.features %}
                    <div class='flex gap-8 sm:gap-4'>

                        <div class='flex justify-center items-center'>
                            <div class='p-3 bg-pink-400/50 rounded-full shadow-md'>
                                    {{ feature.svg_icon.icon|safe }}
                            </div>
                        </div>

                        <div class='flex flex-col gap-2'>
                            {% if feature.title %}
                                <h2 class='font-bold text-xl'>{{ feature.title }}</h2>
                            {% endif %}
                            {% if feature.description %}
                                <p class='text-md'>{{ feature.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}

            </div>

        </div>

        {% if section.image %}
        <div class='col-span-1 m-auto'>
            {% image section.image original as image %}
            <img
                src="{{ image.url }}"
                alt=""
                class='rounded-xl shadow-md aspect-square max-w-[18rem] max-h-[18rem] sm:max-w-[30rem] sm:max-h-[30rem] object-cover' />
        </div>
        {% endif %}

    </div>
{% endfor %}