<!-- CONTACT SECTION -->
<div id="contact"
    class="grid lg:grid-cols-2 gap-20 lg:gap-0 lg:mb-20 py-10 max-w-md sm:max-w-7xl px-4 sm:px-0 mx-auto font-light overflow-x-hidden">

    <!-- Phone, Email, Address & Opening Hours -->
    <div class="flex flex-col gap-8 lg:gap-12 _lg:gap-6 justify-start mx-auto h-full rounded-md tracking-wide">

        <h2 class="text-3xl">{{ page.contact_title }}</h2>

        <div class="flex flex-col gap-10 justify-between">
            <!-- Phone, Email, Address -->
            <div class="space-y-4">
    
                
                {% if page.contact_methods.all %}
                    {% for entry in page.contact_methods.all %}
                    <a 
                        href="{{ entry.get_url }}" target="_blank" 
                        class="flex gap-4 items-center hover:cursor-pointer">

                        {% if entry.svg_icon %}
                        <div class="w-6 h-6">
                            {{ entry.svg_icon.icon|safe }}
                        </div>
                        {% endif %}

                        {% if entry.get_url %}
                        <p>{{ entry.contact_text }}</p>

                        {% else %}
                        <p>{{ entry.contact_text }}</p>
                        {% endif %}
                    </a>
                    {% endfor %}
                {% endif %}    
            </div>
    
    
            <!-- Opening Hours  -->
            <div class="w-56 flex flex-col justify-end">
                <div>
                    <h2 class="mb-2 text-lg">Opening Hours</h2>
    
                    <div>
                        {% if page.opening_hours.all %}
                            <ul class="space-y-2">
                                {% for entry in page.opening_hours.all %}
        
        
                                    <li class="flex _justify-between gap-3">
                                        <p>{{ entry.day }}:</p>
                                        <p>{{ entry.hours }}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
    
                    </div>
    
                </div>
    
            </div>
        </div>

    </div>

    <!-- Contact Form  -->
    <div class="mb-20 lg:mb-0">

        <div class="grid gap-8 lg:gap-12 w-full max-w-md md:max-w-lg px-10 md:px-0 lg:px-8 mx-auto">

            <h2 class="text-3xl text-center lg:text-left">Send us a Message</h2>

            <form action="" method="POST" class="contact-form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="grid gap-x-8 gap-y-6 sm:grid-cols-2 text-gray-900 ">

                    <div>
                        <label class="block text-sm leading-6">First name</label>
                        <div class="mt-2.5 form-field-outer">
                            <input type="text" name="first_name" id="first-name" placeholder="John" />
                        </div>
                    </div>

                    <div>
                        <label class="block text-sm leading-6">Last name</label>
                        <div class="mt-2.5 form-field-outer">
                            <input type="text" name="last_name" id="last-name" placeholder="Doe" />
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label class="block text-sm leading-6">Email</label>
                        <div class="mt-2.5 form-field-outer">
                            <input type="email" name="email" id="email" autoComplete="email" placeholder="john.doe@mail.com" />
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label class="block text-sm leading-6">Message</label>
                        <div class="mt-2.5 form-field-outer">
                            <textarea name="message" id="message" rows={3} placeholder="Enter your message ..."></textarea>
                        </div>
                    </div>

                    <div class="space-y-3">
                        <!-- Captcha Errors -->
                        {% for error in form.captcha.errors %}
                            <p class="error-msg-text">{{ error }}</p>
                        {% endfor %}                       
                        
                        <!-- Captcha field -->
                        <div class="{% if form.captcha.errors %} captcha-error-field-outer {% endif %}">
                            {{ form.captcha }}
                    </div>
                    </div>

                </div>

                <div class="mt-10">
                    <button type="submit" class="submit-btn">Send Message</button>
                </div>

            </form>

        </div>

    </div>

</div>