{% load wagtailcore_tags wagtailimages_tags %}

<!-- GALLERY SECTION -->
    <div id='gallery' class='grid gap-6 justify-center m-5 my-24 max-w-md sm:max-w-full mx-auto'>
    
        <h1 class='text-3xl'>{{ page.gallery_title }}</h1>
        
        {% if page.gallery_images.all %}
        
        <!-- {/* image card grid */} -->
        <div class='grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-5 justify-items-center'>

            {% for entry in page.gallery_images.all %}

                {% image entry.image original as gallery_image %}
                <div>
                    <img src="{{ gallery_image.url }}" alt=""
                        class='max-w-40 sm:max-w-52 md:max-w-60 lg:max-w-68 aspect-square object-cover rounded-xl shadow-md transform hover:scale-105 duration-300 hover:opacity-80' />
                </div>

            {% endfor %}
    
        </div>
        {% endif %}
    
    </div>