{% load wagtailcore_tags wagtailimages_tags %}

<!-- HERO SECTION -->
<div class="relative">
    <!--  HERO IMAGE - CARROT CAKE -->
    {% if page.hero_image %}
        {% image page.hero_image original as hero_image %}
        {% comment %} <img src="{{ hero_image.url }}" alt="{{ page.hero_image.title }}"> {% endcomment %}
        {% comment %} <p>{{ hero_image.url }}</p> {% endcomment %}

        <div
            style="background-image: url({{ hero_image.url }})" 
            class="h-screen bg-cover bg-center bg-no-repeat bg-black opacity-50 flex justify-center items-center">
            <div class="flex flex-col gap-3 justify-center items-center px-14">
                <h1 class="text-7xl">{{ page.hero_title }}</h1>
                <p class="text-xl">{{ page.hero_description }}</p>
            </div>
        </div>

    {% elif page.hero_image_url %}
        {% comment %} <img src="{{ page.hero_image_url }}" alt="Hero image from URL"> {% endcomment %}
        {% comment %} <p>{{ page.hero_image_url }}</p> {% endcomment %}
        <div
            style="background-image: url({{ page.hero_image_url }})" 
            class="h-screen bg-cover bg-center bg-no-repeat bg-black opacity-50 flex justify-center items-center">
            <div class="flex flex-col gap-3 justify-center items-center px-14">
                <h1 class="text-7xl">{{ page.hero_title }}</h1>
                <p class="text-xl">{{ page.hero_description }}</p>
            </div>
        </div>
    {% endif %}



    
    <!-- NAVBAR -->
    <div class="absolute top-0 left-0 right-0 z-10 bg-white opacity-75">
        <div class="flex justify-between px-4 py-4 shadow-md">
            <div>Richmond Bakes</div>
            <ul class="hidden sm:flex gap-4 uppercase tracking-wide">
                <li class="hover:text-gray-500"><a href="#products">Products</a></li>
                <li class="hover:text-gray-500"><a href="#recipes">Recipes</a></li>
                <li class="hover:text-gray-500"><a href="#about">About</a></li>
                <li class="hover:text-gray-500"><a href="#contact">Contact</a></li>
            </ul>
            <div class="sm:hidden hover:cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-align-right-icon lucide-align-right"><path d="M21 12H9"/><path d="M21 18H7"/><path d="M21 6H3"/></svg>
            </div>
        </div>
    </div>
</div>
