<!-- MENU SECTION -->
<div id='menu' class=' my-24 grid lg:grid-cols-2 gap-24 lg:gap-0'>

    <div class='col-span-1 mx-auto lg:order-last px-12 sm:px-0 max-w-md sm:max-w-2xl'>

        <div class='grid gap-10 max-w-md'>

        <div class='grid gap-4'>
            <h1 class='text-3xl'>Our Delicious Menu</h1>
            <p>Experience the exquisite flavors and exceptional quality of our diverse dessert menu</p>
        </div>

        <div class='flex gap-8 sm:gap-4'>
            <div class='flex justify-center items-center'>
                <div class='p-3 bg-pink-400/50 rounded-full shadow-md'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cake-slice w-10 h-10">
                        <circle cx="9" cy="7" r="2"></circle>
                        <path d="M7.2 7.9 3 11v9c0 .6.4 1 1 1h16c.6 0 1-.4 1-1v-9c0-2-3-6-7-8l-3.6 2.6"></path>
                        <path d="M16 13H3"></path>
                        <path d="M16 17H3"></path>
                    </svg>
                </div>
            </div>
            <div class='flex flex-col gap-2'>
                <h2 class='font-bold text-xl'>Organic and Healthy Delights</h2>
                <p class='text-md'>Savor our guilt-free desserts crafted with organic ingredients for a delectable
                    and
                    healthy experience</p>
            </div>
        </div>

        <div class='flex gap-8 sm:gap-4'>
            <div class='flex justify-center items-center'>
                <div class='p-3 bg-pink-400/50 rounded-full shadow-md'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ice-cream-bowl w-10 h-10">
                        <path d="M12 17c5 0 8-2.69 8-6H4c0 3.31 3 6 8 6m-4 4h8m-4-3v3M5.14 11a3.5 3.5 0 1 1 6.71 0"></path>
                        <path d="M12.14 11a3.5 3.5 0 1 1 6.71 0"></path>
                        <path d="M15.5 6.5a3.5 3.5 0 1 0-7 0"></path>
                    </svg>
                </div>
            </div>
            <div class='flex flex-col gap-2'>
                <h2 class='font-bold text-xl'>Organic and Healthy Delights</h2>
                <p class='text-md'>Savor our guilt-free desserts crafted with organic ingredients for a delectable
                    and
                    healthy experience</p>
            </div>
        </div>

        <div class='flex gap-8 sm:gap-4'>
            <div class='flex justify-center items-center'>
                <div class='p-3 bg-pink-400/50 rounded-full shadow-md'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ice-cream-cone w-10 h-10">
                        <path d="m7 11 4.08 10.35a1 1 0 0 0 1.84 0L17 11"></path>
                        <path d="M17 7A5 5 0 0 0 7 7"></path>
                        <path d="M17 7a2 2 0 0 1 0 4H7a2 2 0 0 1 0-4"></path>
                    </svg>
                </div>
            </div>
            <div class='flex flex-col gap-2'>
                <h2 class='font-bold text-xl'>Organic and Healthy Delights</h2>
                <p class='text-md'>Savor our guilt-free desserts crafted with organic ingredients for a delectable
                    and
                    healthy experience</p>
            </div>
        </div>

        </div>

    </div>

    <div class='col-span-1 m-auto lg:order-first'>
        <img
        src="https://cdn.loveandlemons.com/wp-content/uploads/2021/06/summer-desserts.jpg"
        alt=""
        class='rounded-xl shadow-md aspect-square max-w-[18rem] max-h-[18rem] sm:max-w-[30rem] sm:max-h-[30rem] object-cover'
        />
    </div>

    </div>




    <!-- ABOUT SECTION -->


    <div class="hidden">

    <!-- Grid Container 1 -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4 md:gap-8 px-12 sm:px-3 md:px-8 py-12 max-w-7xl mx-auto">
        <!-- IMAGE COLUMN -->
        <div class="col-span-1 flex items-center">
            <div class="max-w-md mx-auto">
                <img 
                    src="https://ichef.bbci.co.uk/food/ic/food_16x9_1600/recipes/vegan_carrot_cake_68186_16x9.jpg" 
                    alt="gluten free carrot cake"
                    class="bg-cover rounded-md shadow-sm"
                >
            </div>
        </div>
        
        <!-- TEXT COLUMN -->
        <div class="col-span-1 px-10 py-10 sm:py-0 sm:px-4 md:px-8 flex flex-col gap-4 justify-center items-center md:max-w-md text-center">
            
            <h2 class="text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
            <p class="text-slate-800 font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est doloremque incidunt aspernatur, consequatur excepturi animi. Minus, impedit fugiat reprehenderit debitis dicta molestias temporibus voluptatum.
            </p>
            <p class="text-slate-800 font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est doloremque incidunt aspernatur, consequatur excepturi animi. Minus, impedit fugiat reprehenderit debitis dicta molestias temporibus voluptatum, officiis porro natus exercitationem quas hic.
            </p>
        </div>
        
    </div>


    <!-- Grid Container 2 -->
    <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4 md:gap-8 px-12 sm:px-3 md:px-8 py-12 max-w-7xl mx-auto">

        <!-- TEXT COLUMN -->
        <div
            class="order-2 sm:order-1 col-span-1 px-10 py-10 sm:py-0 sm:px-4 md:px-8 flex flex-col gap-4 justify-center items-center md:max-w-md text-center">
            <h2 class="text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
            <p class="text-slate-800 font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est doloremque incidunt aspernatur, consequatur excepturi animi. Minus, impedit fugiat reprehenderit debitis dicta molestias temporibus voluptatum.
            </p>
            <p class="text-slate-800 font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est doloremque incidunt aspernatur, consequatur excepturi animi. Minus, impedit fugiat reprehenderit debitis dicta molestias temporibus voluptatum, officiis porro natus exercitationem quas hic.
            </p>
        </div>

        <!-- IMAGE COLUMN -->
        <div class="order-1 sm:order-2 col-span-1 flex items-center">
            <div class="max-w-md mx-auto">
                <img 
                    src="https://ichef.bbci.co.uk/food/ic/food_16x9_1600/recipes/vegan_carrot_cake_68186_16x9.jpg" 
                    alt="gluten free carrot cake"  
                    class="bg-cover rounded-md shadow-sm"
                >
            </div>
        </div>

    </div>



</div>