{% load wagtailcore_tags %}
<div class="relative">

    <div id="main" class="transition-all duration-500">

        <!-- NAVBAR -->
        <div class="shadow-md">
            <div class="flex justify-between items-center px-4 xl:px-0 py-4 bg-white opacity-90 max-w-7xl mx-auto">
                
                <div class="flex sm:hidden gap-6">    
                    <!-- Nav Mobile Slide over -->
                    <div class="sm:hidden hover:cursor-pointer flex items-center">
                        {% include 'home/partials/nav_slide_over.html' with slide_direction="left" %}
                    </div>
                </div>

                
                <a href="/" class="hover:cursor-pointer hover:text-gray-700 tracking-wide">
                    {% wagtail_site as current_site %}
                    <div>{{ current_site.site_name|default:'' }}</div>
                </a>

                <ul class="hidden sm:flex gap-8 tracking-wide">
                    {% if product_listing %}
                    <li class="flex items-center hover:text-gray-500">
                        <a href="{{ product_listing.url }}">{{ product_listing.title }}</a>
                    </li>
                    {% endif %}

                    {% if recipe_index %}
                    <li class="flex items-center hover:text-gray-500">
                        <a href="{{ recipe_index.url }}">{{ recipe_index.title }}</a>
                    </li>
                    {% endif %}
                  
                    <li class="flex items-center hover:text-gray-500"><a href="/#about">About</a></li>
                    <li class="flex items-center hover:text-gray-500"><a href="/#contact">Contact</a></li>

                    <!-- Cart-->
                    <div class="hidden sm:block">
                        {% include 'orders/cart/cart.html' %}
                     </div>
                    

                </ul>

                <!-- Cart-->
                <div class="block sm:hidden">
                    {% include 'orders/cart/cart.html' %}
                </div>

            </div>
        </div>

        
    </div>
    
</div>