<!-- Overlay -->
<div
    id="overlay"
    onclick="closeNav()"
    class="fixed inset-0 bg-slate-800 opacity-50 sm:opacity-0 transition-opacity duration-500 invisible z-40"
>
</div>


<div class="relative">

    <!-- Side Nav -->
    <div id="mySidenav" class="sm:hidden fixed top-0 left-0 h-full w-64 bg-gray-900 text-white pt-16 transition-transform duration-500 -translate-x-full z-50">
        <a href="javascript:void(0)" onclick="closeNav()" class="absolute top-4 right-6 text-3xl text-gray-400 hover:text-white transition duration-300">&times;</a>
        
        {% if product_listing %}
        <a href="{{ product_listing.url }}" class="block px-8 py-3 text-xl text-gray-400 hover:text-white transition duration-300">{{ product_listing.title }}</a>
        {% endif %}

        {% if recipe_index %}
        <a href="{{ recipe_index.url }}" class="block px-8 py-3 text-xl text-gray-400 hover:text-white transition duration-300">{{ recipe_index.title }}</a>
        {% endif %}
        
        <a href="#" class="block px-8 py-3 text-xl text-gray-400 hover:text-white transition duration-300">About</a>
        <a href="#" class="block px-8 py-3 text-xl text-gray-400 hover:text-white transition duration-300">Contact</a>
    </div>


    <div id="main" class="transition-all duration-500">

        <!-- NAVBAR -->
        <div class="_absolute _top-0 _left-0 _right-0 _z-30 bg-white opacity-90">
            <div class="flex justify-between px-4 py-4 shadow-md">
                <a href="/" class="hover:cursor-pointer hover:text-gray-700 tracking-wide">
                    <div>Richmond Bakes</div>
                </a>
                <ul class="hidden sm:flex gap-8 tracking-wide">

                    {% if product_listing %}
                    <li class="hover:text-gray-500">
                        <a href="{{ product_listing.url }}">{{ product_listing.title }}</a>
                    </li>
                    {% endif %}

                    {% if recipe_index %}
                    <li class="hover:text-gray-500">
                        <a href="{{ recipe_index.url }}">{{ recipe_index.title }}</a>
                    </li>
                    {% endif %}
                  
                    <li class="hover:text-gray-500"><a href="/#about">About</a></li>
                    <li class="hover:text-gray-500"><a href="/#contact">Contact</a></li>
                </ul>
                <div onclick="openNav()" class="sm:hidden hover:cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-align-right-icon lucide-align-right"><path d="M21 12H9"/><path d="M21 18H7"/><path d="M21 6H3"/></svg>
                </div>
            </div>
        </div>

        
    </div>
    
</div>