        <!-- Overlay -->
        <div
            id="overlay"
            onclick="closeNav()"
            class="fixed inset-0 bg-slate-800 opacity-50 sm:opacity-0 transition-opacity duration-500 invisible z-40"
        >
        </div>


        <div class="relative">

            <!-- Side Nav -->
            <div id="mySidenav" class="sm:hidden fixed top-0 left-0 h-full w-64 bg-gray-900 text-white pt-16 transition-transform duration-500 -translate-x-full z-50">
                <a href="javascript:void(0)" onclick="closeNav()" class="absolute top-4 right-6 text-3xl text-gray-400 hover:text-white transition duration-300">&times;</a>
                <a href="#" class="block px-8 py-3 text-xl text-gray-400 hover:text-white transition duration-300">Products</a>
                <a href="#" class="block px-8 py-3 text-xl text-gray-400 hover:text-white transition duration-300">Recipes</a>
                <a href="#" class="block px-8 py-3 text-xl text-gray-400 hover:text-white transition duration-300">About</a>
                <a href="#" class="block px-8 py-3 text-xl text-gray-400 hover:text-white transition duration-300">Contact</a>
            </div>


            <div id="main" class="transition-all duration-500">

                <!-- NAVBAR -->
                <div class="absolute top-0 left-0 right-0 z-30 bg-white opacity-75">
                    <div class="flex justify-between px-4 py-4 shadow-md">
                        <div>Richmond Bakes</div>
                        <ul class="hidden sm:flex gap-4 uppercase tracking-wide">
                            <li class="hover:text-gray-500"><a href="#products">Products</a></li>
                            <li class="hover:text-gray-500"><a href="#recipes">Recipes</a></li>
                            <li class="hover:text-gray-500"><a href="#about">About</a></li>
                            <li class="hover:text-gray-500"><a href="#contact">Contact</a></li>
                        </ul>
                        <div onclick="openNav()" class="sm:hidden hover:cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-align-right-icon lucide-align-right"><path d="M21 12H9"/><path d="M21 18H7"/><path d="M21 6H3"/></svg>
                        </div>
                    </div>
                </div>

                
            </div>
            
        </div>