{% extends "components/_slide_over.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block slide_over_trigger_btn %}
<span class="h-8 w-8 flex justify-center items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-align-right-icon lucide-align-right"><path d="M21 12H9"/><path d="M21 18H7"/><path d="M21 6H3"/></svg>
</span>
{% endblock slide_over_trigger_btn %}


{% block title %}
    <h2 class="text-2xl font-semibold leading-6 text-gray-900" id="slide-over-title">Richmond Bakes</h2>
{% endblock title %}


{% block content %}
<div class="px-4 sm:px-5">
    <p>Nav links go here!</p>
</div>
{% endblock content %}