{% extends "components/_slide_over.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block slide_direction_class %}
  {% if slide_direction == 'left' %}
    left-0 pr-10
  {% else %}
    right-0 pl-10
  {% endif %}
{% endblock %}

{% block x_transition_enter_start %}
  {% if slide_direction == 'left' %}
    -translate-x-full
  {% else %}
    translate-x-full
  {% endif %}
{% endblock %}

{% block x_transition_leave_end %}
  {% if slide_direction == 'left' %}
    -translate-x-full
  {% else %}
    translate-x-full
  {% endif %}
{% endblock %}

{% block slide_over_trigger_btn %}
<span class="h-8 w-8 flex justify-center items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 12h16"/><path d="M4 18h16"/><path d="M4 6h16"/></svg>
</span>
{% endblock slide_over_trigger_btn %}


{% block title %}
<a href="{{ home_page.url }}">Richmond Bakes</a>
{% endblock title %}


{% block content %}
<div class="mt-12 px-4 sm:px-5">

    <ul class="flex flex-col gap-10 tracking-wide pl-2 text-3xl font-semibold text-gray-500">
        
        {% if product_listing %}
        <li class="flex items-center hover:text-gray-700">
            <a href="{{ product_listing.url }}">{{ product_listing.title }}</a>
        </li>
        {% endif %}

        {% if recipe_index %}
        <li class="flex items-center hover:text-gray-700">
            <a href="{{ recipe_index.url }}">{{ recipe_index.title }}</a>
        </li>
        {% endif %}
        
        <li class="flex items-center hover:text-gray-700"><a href="/#about">About</a></li>
        <li class="flex items-center hover:text-gray-700"><a href="/#contact">Contact</a></li>
    </ul>

</div>
{% endblock content %}