{% extends "wagtailadmin/base.html" %}
{% load django_vite %}

{% block content %}
    {% vite_hmr_client %}
    {% vite_asset 'static/js/main.js' %}

    {% include "wagtailadmin/shared/header.html" with title="Orders" %} 
    

    <div class="orders-page nice-padding space-y-6">

        <!-- Search Input Group -->
        <form 
            class="space-y-6"
            x-data
            x-ref="form"
            hx-get="{% url 'view_orders' %}"
            hx-target="#orders-table"
            hx-push-url="true"
            hx-swap="outerHTML"
        >

            <!-- Search Text Input -->
            <div class="w-field__input max-w-xl relative">
                <input 
                type="text" 
                name="q" 
                placeholder="Search…"
                value="{{ request.GET.q }}"
                />        
                <span class="absolute inset-y-0 right-2 grid w-8 place-content-center">
                    <button type="submit" aria-label="Submit" class="rounded-full p-1.5 text-gray-700 transition-colors hover:bg-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>
                    </button>
                </span>                
            </div>    

            <!-- Order Status & Date Input Group-->
            <div class="flex gap-6 mb-3">

                <!-- Select Input - Order Status -->
                <div>
                    <label for="datepicker" class="block mb-1 text-sm font-medium text-neutral-500">Status</label>
                    <select 
                        name="order_status" 
                        class="__w-field__input"
                        @change="$refs.form.requestSubmit()"
                    >
                        <option value="">Select status</option>
                        {% for value, label in status_choices %}
                        <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>            
                </div>

                <!-- Select Input - Delivery Option -->
                <div>
                    <label for="datepicker" class="block mb-1 text-sm font-medium text-neutral-500">Delivery</label>
                    <select 
                        name="delivery_method" 
                        class="__w-field__input"
                        @change="$refs.form.requestSubmit()"
                    >
                        <option value="">Select method</option>
                        {% for value, label in delivery_methods %}
                        <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>            
                </div>
                

            </div>
    
        </form>

        <!-- Orders Table -->
         {% include 'orders/admin/partials/_orders_table.html' %}

        <!-- Pagination Block -->
        <div class="pagination-container">
            <p>Showing <span>1</span> to <span>10</span> of <span>89</span> results</p>
            <nav>
                <ul>
                    <li class="previous-link">
                        <a href="#" class="group">
                            <span>Previous</span>
                        </a>
                    </li>
                    <li class="current-link">
                        <a href="#" class="group">
                            <span>1</span>
                            <span class="underline"></span>
                        </a>
                    </li>
                    <li class="link">
                        <a href="#" class="group">
                            <span>2</span>
                            <span class="no-underline"></span>
                        </a>
                    </li>
                    <li class="link">
                        <a href="#" class="group">
                            <span>3</span>
                            <span class="no-underline"></span>
                        </a>
                    </li>

                    <li>
                        <div class="more">
                            <span>...</span>
                        </div>
                    </li>
                    <li class="link">
                        <a href="#" class="group">
                            <span>6</span>
                            <span class="no-underline"></span>
                        </a>
                    </li>
                    <li class="link">
                        <a href="#" class="group">
                            <span>7</span>
                            <span class="no-underline"></span>
                        </a>
                    </li>
                    <li class="link">
                        <a href="#" class="group">
                            <span>8</span>
                            <span class="no-underline"></span>
                        </a>
                    </li>
                    <li class="h-full next-link">
                        <a href="#" class="group">
                            <span>Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>         

    </div>
{% endblock %}