{% extends "wagtailadmin/base.html" %}
{% load django_vite %}

{% block content %}
    {% vite_hmr_client %}
    {% vite_asset 'static/js/main.js' %}

    {% include "wagtailadmin/shared/header.html" with title="Orders" %} 
    

    <div class="orders-page nice-padding space-y-6">

        <!-- Search Input Group -->
        <form 
            class="space-y-6"
            x-data
            x-ref="form"
            hx-get="{% url 'view_orders' %}"
            hx-target="#orders-table"
            hx-push-url="true"
            hx-swap="outerHTML"
        >

            <!-- Search Text Input -->
            <div class="w-field__input max-w-xl relative">
                <input 
                type="text" 
                name="q" 
                placeholder="Search…"
                value="{{ request.GET.q }}"
                />        
                <span class="absolute inset-y-0 right-2 grid w-8 place-content-center">
                    <button type="submit" aria-label="Submit" class="rounded-full p-1.5 text-gray-700 transition-colors hover:bg-gray-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>
                    </button>
                </span>                
            </div>    

            <!-- Order Status & Date Input Group-->
            <div class="flex gap-2 xs:gap-6 mb-3">

                <!-- Select Input - Order Status -->
                <div class="max-w-[11.5rem] sm:max-w-none">
                    <label for="datepicker" class="block mb-1 text-sm font-medium text-neutral-500">Status</label>
                    <select 
                        name="order_status" 
                        class="w-field__input"
                        @change="$refs.form.requestSubmit()"
                    >
                        <option value="">Select Status</option>
                        {% for value, label in status_choices %}
                        <option value="{{ value }}" {% if request.GET.order_status == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>            
                </div>

                <!-- Select Input - Delivery Option -->
                <div class="max-w-[11.5rem] xs:max-w-none">
                    <label for="datepicker" class="block mb-1 text-sm font-medium text-neutral-500">Delivery</label>
                    <select 
                        name="delivery_method" 
                        class="w-field__input"
                        @change="$refs.form.requestSubmit()"
                    >
                        <option value="">Select Method</option>
                        {% for value, label in delivery_methods %}
                        <option value="{{ value }}" {% if request.GET.delivery_method == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>            
                </div>
                

            </div>
    
        </form>

        <!-- Orders Table -->
        {% include 'orders/admin/partials/_orders_table.html' %}

    </div>
{% endblock %}