{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Orders" icon="cart" %}

    <div class="nice-padding">
        <table class="listing">
            <thead>
                <tr>
                    {% comment %} <th>Order Ref</th> {% endcomment %}
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Delivery Method</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in object_list %}
                    <tr>
                        {% comment %} <td>{{ order.order_ref }}</td> {% endcomment %}
                        <td>{{ order.first_name }} {{ order.last_name }}</td>
                        <td>{{ order.email }}</td>
                        <td>{{ order.phone }}</td>
                        <td>{{ order.delivery_detail }}</td>
                        <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
                        <td>
                            <a href="" class="button button-small button-secondary">View</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">No orders found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}