{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}"> {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <!-- Overlay -->
        <div
            id="overlay"
            onclick="closeNav()"
            class="fixed inset-0 bg-slate-800 opacity-50 sm:opacity-0 transition-opacity duration-500 invisible z-10"
        >
        </div>


        <div class="relative">

            <!-- Side Nav -->
            <div id="mySidenav" class="sm:hidden fixed top-0 left-0 h-full w-64 bg-gray-900 text-white pt-16 transition-transform duration-500 -translate-x-full z-20">
                <a href="javascript:void(0)" onclick="closeNav()" class="absolute top-4 right-6 text-3xl">&times;</a>
                <a href="#" class="block px-8 py-3 text-xl text-gray-400 hover:text-white">About</a>
                <a href="#" class="block px-8 py-3 text-xl text-gray-400 hover:text-white">Services</a>
                <a href="#" class="block px-8 py-3 text-xl text-gray-400 hover:text-white">Clients</a>
                <a href="#" class="block px-8 py-3 text-xl text-gray-400 hover:text-white">Contact</a>
            </div>


            <div id="main" class="transition-all duration-500">

                <!-- NAVBAR -->
                <div class="absolute top-0 left-0 right-0 z-10 bg-white opacity-75">
                    <div class="flex justify-between px-4 py-4 shadow-md">
                        <div>Richmond Bakes</div>
                        <ul class="hidden sm:flex gap-4 uppercase tracking-wide">
                            <li class="hover:text-gray-500"><a href="#products">Products</a></li>
                            <li class="hover:text-gray-500"><a href="#recipes">Recipes</a></li>
                            <li class="hover:text-gray-500"><a href="#about">About</a></li>
                            <li class="hover:text-gray-500"><a href="#contact">Contact</a></li>
                        </ul>
                        <div onclick="openNav()" class="sm:hidden hover:cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-align-right-icon lucide-align-right"><path d="M21 12H9"/><path d="M21 18H7"/><path d="M21 6H3"/></svg>
                        </div>
                    </div>
                </div>

                {% block content %}{% endblock %}

            </div>

        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/core.js' %}"></script>
        <script>
            function openNav() {
              document
                .getElementById("mySidenav")
                .classList.remove("-translate-x-full");
              document
                .getElementById("overlay")
                .classList.remove("opacity-0", "invisible");
            }
      
            function closeNav() {
              document.getElementById("mySidenav").classList.add("-translate-x-full");
              document
                .getElementById("overlay")
                .classList.add("opacity-0", "invisible");
            }
          </script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
