{% load django_browser_reload %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}
        
        <!-- Favicon -->
        <link rel="icon" href="{% static 'icons/store.svg' %}" type="image/svg+xml">

        <!-- Vite Tags -->
        {% vite_hmr_client %}
        {% vite_asset 'static/js/main.js' %}

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% include 'home/partials/nav.html' %}


        {# Main content block #}        
        {% block content %}{% endblock %}

        {# Global javascript #}
        <!--TODO: delete and replace with pines slideover -->
        {% comment %} <script type="text/javascript" src="{% static 'js/nav.js' %}"></script> {% endcomment %}

        {% include '_messages.html'  %}

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}

        {% django_browser_reload_script %}
    </body>
</html>
