<div class="pagination-container">
    <p>
        Showing <span>{{ page_obj.start_index }}</span> to <span>{{ page_obj.end_index }}</span> of <span>{{ page_obj.paginator.count }}</span> results
    </p>
    <nav>
        <ul>
            {% if page_obj.has_previous %}
                <li class="previous-link">
                    <a
                        href="?{{ base_querystring }}{% if base_querystring %}&{% endif %}page={{ page_obj.previous_page_number }}"
                        class="group"
                    >
                        <span>Previous</span>
                    </a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <li class="current-link">
                        <a href="#" class="group">
                            <span>{{ num }}</span>
                            <span class="underline"></span>
                        </a>
                    </li>
                {% elif num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
                    <li class="link">
                        <a                            
                            href="?{{ base_querystring }}{% if base_querystring %}&{% endif %}page={{ num }}"
                            class="group"
                        >
                            <span>{{ num }}</span>
                            <span class="no-underline"></span>
                        </a>
                    </li>
                {% elif num == page_obj.number|add:-3 or num == page_obj.number|add:3 %}
                    <li>
                        <div class="more">
                            <span>...</span>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="h-full next-link">
                    <a    
                        href="?{{ base_querystring }}{% if base_querystring %}&{% endif %}page={{ page_obj.next_page_number }}"
                        class="group"
                    >
                        <span>Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>