<div x-data="{ slideOverOpen: false }"
    class="relative z-50 w-auto h-auto">

    <!-- Cart Button -->
    <button class="hover:cursor-pointer flex" @click="slideOverOpen=true">
        {% block slide_over_trigger_btn %}
        {% endblock slide_over_trigger_btn %}
    </button>

    <!-- Cart Slide Over-->
    <template x-teleport="body">
        <div 
            x-show="slideOverOpen"
            @keydown.window.escape="slideOverOpen=false"
            class="relative z-[99]">
            <div x-show="slideOverOpen" x-transition.opacity.duration.600ms @click="slideOverOpen = false" class="fixed inset-0 bg-black/50"></div>
            <div class="fixed inset-0 overflow-hidden">
                <div class="absolute inset-0 overflow-hidden">
                    <div class="fixed inset-y-0  flex max-w-full {% if slide_direction == 'left' %} left-0 pr-10 {% else %} right-0 pl-10 {% endif %}">
                        <div 
                            x-show="slideOverOpen" 
                            @click.away="slideOverOpen = false"
                            x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700" 
                            x-transition:enter-start="{% if slide_direction == 'left' %} -translate-x-full {% else %} translate-x-full {% endif %}" 
                            x-transition:enter-end="translate-x-0" 
                            x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700" 
                            x-transition:leave-start="translate-x-0" 
                            x-transition:leave-end="{% if slide_direction == 'left' %} -translate-x-full {% else %} translate-x-full {% endif %}" 
                            class="w-screen max-w-md">
                            

                            <div class="relative flex flex-col h-full py-5 overflow-y-scroll bg-white border-l shadow-lg border-neutral-100/70">
                                
                                <!-- Title and Close Button-->
                                <div class="px-4 sm:px-5">
                                    
                                    <div class="flex items-start justify-between pb-1">

                                        <!-- Title -->
                                         <div class="text-3xl font-semibold leading-6 text-gray-900 mt-2 pl-2">
                                            {% block title %}
                                            {% endblock title %}
                                         </div>


                                        <!-- Close Button-->
                                        <div class="flex items-center justify-center h-auto ml-3">
                                            <button @click="slideOverOpen=false" class="absolute top-0 right-0 z-30 flex items-center justify-center px-3 py-2 mt-4 mr-5 space-x-1 text-xs font-medium uppercase rounded-md text-neutral-600 hover:bg-neutral-100 hover:cursor-pointer">
                                                
                                                <!-- Close Icon -->
                                                <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                                </svg>

                                            </button>

                                        </div>
                                    </div>

                                </div>

                                {% block content %}
                                {% endblock content %}

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>

