{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="flex justify-center mx-4 my-8">
    <div class="max-w-7xl">

        <!-- Breadcrumbs -->
        <div class="flex items-center gap-2 mb-5 text-sm text-gray-500">
            <a href="{{ home_page.url }}" class="hover:text-gray-900 transition duration-300">
                <p>{{ home_page.title }}</p>
            </a>
            <span class="text-gray-500">
                {% include 'icons/breadcrumb.html' %}
            </span>
            <p class="text-gray-900">{{ recipe_index.title }}</p>
        </div>
        
        <!-- Title and Description -->
        <div class="mb-6">
            <h1 class="text-4xl mb-2 font-semibold tracking-wide text-gray-800">{{ page.title }}</h1>
    
            {% if page.subtitle %}
                <p class="text-lg">{{ page.subtitle }}</p>
            {% endif %}
    
            {% if page.description %}
                <p class="text-gray-600">
                    {{ page.description }}
                </p>
            {% endif %}
        </div>
        
        <!-- featured recipe post -->
        {% if page.featured_recipe %}
        <div class="mb-8">
            <!-- blog post grid -> img & textblock -->
             <div class="grid lg:grid-cols-3 bg-gray-100 shadow-sm rounded-sm overflow-hidden">
                
                <!-- image -->
                 <div class="col-span-1 md:col-span-2">
                    {% image page.featured_recipe.main_image original as featured_recipe_image %}
                    <img src="{{ featured_recipe_image.url }}" alt="">
                 </div>

                 <!-- textblock -->
                  <div class="col-span-1">
                    <div class="p-4 grid gap-4">
                        <h1 class="text-3xl font-semibold tracking-wide">{{ page.featured_recipe.title }}</h1>
                        {{ page.featured_recipe.description | richtext }}
                    </div>
                  </div>

             </div>
        </div>
        {% endif %}

        <!-- recipe posts listing grid  -->
         <div class="mb-20">
            
            <!-- grid -->
             <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6 lg:gap-8">
            
                {% for recipe in recipes %}
                <!-- blogpost card -->
                 <a href="{{ recipe.url }}" class="hover:opacity-75 transition duration-300">
                     <div class="text-neutral-700 mb-4">
     
                         <!-- image -->
                          <div class="overflow-hidden rounded-md">
                            {% image recipe.main_image fill-300x300 as recipe_image %}
                              <img 
                                 class="border border-gray-100 w-full h-auto" 
                                 src="{{recipe_image.url}}"
                                 alt="">
                         </div>
     
                         <!-- title, description -->
                          <div class="grid gap-2 py-2">
                            
                            {% if recipe.category %}
                            <div class="flex justify-between items-center">
                                <p class="text-gray-500 text-sm font-semibold bg-gray-100 rounded-xl px-3 py-1">{{ recipe.category.name }}</p>
                                <p class="text-gray-500 text-sm">{{ recipe.prepare }}</p>
                            </div>
                            {% else %}
                            <p class="text-gray-500 text-sm">{{ recipe.prepare }}</p>
                            {% endif %}

                             <h3 class="text-gray-600 font-bold">{{ recipe.title }}</h3>
                             
                             <p class="text-sm">{{ recipe.summary }}</p>                            
                          </div>
                          
                     </div>
                 </a>
                {% endfor %}

             </div>
         </div>

    </div>

</div>
{% endblock content %}
