<div id="cart-count" hx-swap-oob="true" class="relative w-8 h-8 flex justify-center items-center">
    
    <!-- Cart Icon -->
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" fill="#000000"><path fill="#000000" d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"></path></svg>
    {% if cart_total %}
    <!-- Number of Cart Items -->
    <span class="absolute top-0 right-0 inline-flex items-center justify-center {% if cart_total < 10 %} w-4 h-4 {% else %} w-5 h-5 {% endif %} text-xs font-bold text-white bg-red-600 rounded-full">
        {{ cart_total }}
    </span>
    {% endif %}
</div>